<article id="<%= post.layout %>-<%= post.slug %>" class="blog-post article-type-<%= post.layout %>">
  <h3>Awesome blog post title <small>3/6/2016</small></h3>
  <img class="thumbnail" src="http://placehold.it/850x350">
  <% if (post.excerpt && index){ %>
    <%- post.excerpt %>
    <% if (theme.excerpt_link){ %>
      <p class="article-more-link">
        <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
      </p>
    <% } %>
  <% } else { %>
    <%- post.content %>
  <% } %>
  <div class="callout">
    <ul class="menu simple">
      <%- partial('_partial/post/category') %>
    </ul>
  </div>
</article>
