<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <% if(page.title != 'cv') { %>
    <%- partial('_partial/header') %>
    <% } %>
    <section id="main">
      <%- body %>
    </section>

    <%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>
  </body>
</html>
