<section class='row items large-up-3'>
<%
let getRandomInt = (min, max) => {
  return Math.floor(Math.random() * (max - min + 1)) + min;
}

let posts = site.categories
.findOne({name: 'web'})
.posts.limit(3);

posts.each((post) => {
  let featured_image = url_for(post.permalink + post.photos[0]);
  let bg_colour = "colourset-"+getRandomInt(0,3);
  %>
  <div class='column item'>
    <div class='content'>
      <div class='content-bg' style='background-image: url("<%=featured_image%>")'></div>
      <a href='<%= url_for(post.path) %>' class='<%=bg_colour%>'></a>
      <div class='title'><%=post.title%></div>
    </div>
  </div>
<%  }); %>
</section>

<% if (posts.length > 3) { %>
  <div class='row column see-more'>
    <a class='secondary hollow button' href='#'>See more <%=title%> projects</a>
  </div>
<% } %>
