<%
let choosen_colours = [];
let max_colours = 5;
let getRandomColour = (min, max) => {
  let random = Math.floor(Math.random() * (max - min + 1)) + min;

  // Reset colour arrays if it reached the maximum colour range
  if(choosen_colours.length == max_colours)
    choosen_colours = [];

  // Avoid repeated colours for the defined number of max_colours
  if (choosen_colours.indexOf(random) != -1)
    return getRandomColour(min,max);

  // Just record which colour was gotten, duh
  choosen_colours.push(random);
  return random;
}
%>
<div class='row column project content-block'>
  <h2><%=post.title%> <a href='<%=url_for(config.root)%>'>(return to home)</a></h2>

  <div class='row'>
    <div class='large-3 large-9-push small-12 column'>
      <%- post.content %>

      <div class='date'><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Delivered in <%=post.deliveredin%></div>

      <ul class='skills'>
        <% if(post.skills) {
          post.skills.forEach((skill) => { %>
            <li><%=skill%></li>
            <% });
          } %>
      </ul>
    </div>
    <div class='large-9 small-12 column'>
      <section class='large-up-2 small-up-1 medium-up-2'>
        <% post.photos.forEach((photo) => {
          let bg_colour = "colourset-"+getRandomColour(0,max_colours);
          let image = url_for(post.permalink + photo + '.jpg');
          %>
          <%- partial('_partial/thumb-item', {
            title: false,
            link: image,
            bg_colour: bg_colour,
            image: image
          }) %>
          <% }); %>
        </section>
    </div>
  </div>
</div>
